<%accounts.each do |camp_acc|%>
  <div class="row">
    <div class="col">
      <p class="card-text">
        <%=camp_acc.full_name%>
        <%= link_to 'Edit', edit_account_path(camp_acc), class: "btn btn-info btn-xs ml-0 text-white mb-1" if camp_acc.id == current_user.account_id %>
      </p>
    </div>
  </div>
<%end%>

<h6 class="card-subtitle text-muted" id="pending-title" style="<%=sanitize('display: none;') if pending.empty?%>">Pending</h6>
<p class="card-text">
  <%pending.each do |user|%>
    <%=user.email%>
  <%end%>
</p>
