<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%activities = "<ul>"%>
    <%@activities.each do |activity|%>
      <%activities += "<li>"%>
        <%activities += "#{activity.day_and_time_span} - #{activity.name}"%>
      <%activities += "</li>"%>
    <%end%>
    <%activities += "</ul>"%>
    <%if @time_frame == "week"%>
      <%=@camp.week_out_message.gsub("[FirstName]", @account.first_name).gsub("[LastName]",@account.last_name).gsub('[Blocks]',activities).html_safe%>
    <%else%>
      <%=@camp.day_out_message.gsub("[FirstName]", @account.first_name).gsub("[LastName]",@account.last_name).gsub('[Blocks]',activities).html_safe%>
    <%end%>
  </body>
</html>
