<div class="btn-group-vertical">
  <%unless activity.users.count >= activity.staff_needed.to_i || activity.users.map(&:id).include?(current_user.id)%>
    <%= link_to add_worker_activity_path(activity.id), method: :post, class: 'btn btn-sm btn-primary text-white', :remote => true do %>
      Work It
    <% end %>
  <%end%>
  <%if activity.users.map(&:id).include?(current_user.id)%>
    <%= link_to remove_worker_activity_path(activity.id), method: :post, class: 'btn btn-sm btn-danger', :remote => true do %>
      Dont Work It
    <% end %>
  <%end%>
</div>
