<h1>New Account</h1>

<p class="lead">
  Hey! Looks like we don't have an account for you. Lets gather some information before you continue along.
</p>

<%= render 'form', account: @account %>

<%#= link_to 'Back', accounts_path %>
